@font-face {
	font-family: "neontubes";
	src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
	src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix")
			format("embedded-opentype"),
		url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2")
			format("woff2"),
		url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff")
			format("woff"),
		url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf")
			format("truetype");
	font-weight: normal;
	font-style: normal;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #030c1c;
}

.Board {
	margin: 0 auto;
}
.Board table {
	margin: 0 auto;
	box-shadow: 0 0 40px #fff, -10px 0 60px #f0f, 10px 0 60px #0ff;
}

.logo {
	font-family: "neontubes";
	font-size: 5vw;
	text-align: center;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo span {
	display: inline-block;
	position: relative;
	transform: translateZ(0) translate3D(0, 0, 0);
	backface-visibility: hidden;
	will-change: opacity;
}
.logo .open {
	transform: rotate(-1deg);
	color: #ffd9e2;
	text-shadow: 0 0 0 transparent, 0 0 10px #ff003c,
		0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c,
		0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c,
		0 0 1000px #ff003c;
	animation: blink 4s infinite alternate;
}
.logo .hrs {
	transform: rotate(1deg);
	color: #d4eaff;
	text-shadow: 0 0 0 transparent, 0 0 10px #2695ff,
		0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff,
		0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
	animation: buzz 0.01s infinite alternate;
}
.win-logo {
	margin-top: 150px;
}
.win-logo span {
	font-size: 10vw;
}

@keyframes buzz {
	70% {
		opacity: 0.8;
	}
}
@keyframes blink {
	40% {
		opacity: 1;
	}
	42% {
		opacity: 0.8;
	}
	43% {
		opacity: 1;
	}
	45% {
		opacity: 0.2;
	}
	46% {
		opacity: 1;
	}
}
/*@media screen and (min-width: 1000px) {
	.logo {
		width: 400px;
		font-size: 150px;
	}

	.logo .hrs {
		font-size: 103px;
	}
}*/
